<!DOCTYPE html>
<html>
  <%- include('../components/headTag.ejs') %>
  <body>
    <%- include('./components/header.ejs') %> <%-
    include('./components/navbar.ejs') %>
    <div class="mobile-menu-overlay"></div>
    <div class="main-container">
      <div class="p-3">
        <h1>products</h1>
      </div>
    </div>
    <!-- js -->
    <script src="/vendors/scripts/core.js"></script>
    <script src="/vendors/scripts/script.min.js"></script>
    <script src="/vendors/scripts/process.js"></script>
    <script src="/vendors/scripts/layout-settings.js"></script>
  </body>
</html>
