@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "EB Garamond", serif;
}

/* navbar */

header {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1;
  background-color: #000;
}

nav {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

nav .logo img {
  width: 8rem;
}

nav .menu-links {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 30px;
}

nav .menu-links li a {
  color: #fff;
  font-weight: 500;
  text-decoration: none;
  transition: 0.2s ease;
  position: relative;
}

nav .menu-links li a::after {
  position: absolute;
  bottom: -5px;
  right: 50%;
  content: "";
  width: 0%;
  height: 1px;
  background-color: #1dbf73;
  transition: 0.3s;
}

nav .menu-links li a:hover::after {
  width: 100%;
  right: 0;
}

nav .menu-links .join-btn a {
  border: 1px solid #fff;
  padding: 8px 15px;
  border-radius: 4px;
}

nav .menu-links .join-btn a:hover {
  color: #fff;
  border-color: transparent;
  background: #1dbf73;
}

nav #hamburger-btn {
  color: #fff;
  cursor: pointer;
  display: none;
  font-size: 1.7rem;
}

nav #close-menu-btn {
  position: absolute;
  display: none;
  color: #000;
  top: 20px;
  right: 20px;
  cursor: pointer; 
  font-size: 1.7rem;
}



.banner1 {
  position: relative;
}

.banner1 .text {
  position: absolute;
  z-index: 1;
  top: 40%;
  left: 10%;
  background-color: #00000095;
  color: white;
  padding: 20px;
  transform: translateY(-50%);
  width: 80%;
  max-width: 600px;
  margin: 0;
}

.banner1 .text h1 {
  font-size: 2rem;
}

.banner1 .text button {
  font-size: 1.5rem;
  margin: 20px 0 0 0;
  padding: 10px;
  background-color: white;
  color: black;
  border: none;
  outline: none;
}

.banner1 .text button:hover {
  background-color: black;
  color: white;
}

@media (min-width: 768px) {
  .banner1 .text {
    left: 5%;
    padding: 30px 50px;
    width: 70%;
  }

  .banner1 .text h1 {
    font-size: 3rem;
  }

  .banner1 .text button {
    font-size: 1.8rem;
  }
}

@media (min-width: 1024px) {
  .banner1 .text {
    left: 0%;
    padding: 40px 60px;
    width: 60%;
  }

  .banner1 .text h1 {
    font-size: 4rem;
  }

  .banner1 .text button {
    font-size: 2rem;
  }
}

/* Media query for hiding text on mobile and tablet */
@media (max-width: 1023px) {
  .banner1 .text {
    display: none;
  }
}


.banner1 video {
  width: 100%;
}

/* about us  */
.about-us {
  margin: 50px;
  display: flex;
}

h2.title {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 20px;
  position: relative;
}

h2.title::after {
  content: "";
  width: 10%;
  height: 3px;
  background-color: black;
  position: absolute;
  bottom: 2px;
  right: 42%;
}

.about-us .text p:nth-of-type(1)::first-letter {
  font-size: 40px;
}

/* banner  */

.banner2 {
  margin: 40px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url("../img/banner.png");
  width: 100%;
  height: 40vh;
  background-size: cover;
  background-position: center;
}

.banner2 .text {
  background-color: #ffffffc5;
  padding: 50px 150px;
}

.banner2 h4 {
  color: #000;
  font-size: 16px;
}

.banner2 h2 {
  color: #000;
  font-size: 30px;
  padding: 10px 0;
}

.banner2 h2 span {
  color: red;
}

button.normal {
  font-size: 14px;
  font-weight: 600;
  padding: 15px 30px;
  color: #000;
  background-color: #fff;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  outline: none;
  transition: 0.2s;
}

.banner2 button:hover {
  background: red;
  color: #000;
}

/* image slider  */

.image-slider2 {
  text-align: center;
  width: 90%;
  margin: 50px auto;
}

.image-slider2 .container {
  width: 100%;
}

.image-slider2 .slider-wrapper {
  position: relative;
}

.image-slider2 .slider-wrapper .slide-button {
  position: absolute;
  top: 50%;
  outline: none;
  border: none;
  height: 50px;
  width: 50px;
  z-index: 5;
  color: #fff;
  display: flex;
  cursor: pointer;
  font-size: 2.2rem;
  background: #000;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transform: translateY(-50%);
}

.image-slider2 .slider-wrapper .slide-button:hover {
  background: #404040;
}

.image-slider2 .slider-wrapper .slide-button#prev-slide {
  left: -25px;
  display: none;
}

.image-slider2 .slider-wrapper .slide-button#next-slide {
  right: -25px;
}

.image-slider2 .slider-wrapper .image-list {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 18px;
  font-size: 0;
  list-style: none;
  margin-bottom: 30px;
  overflow-x: auto;
  scrollbar-width: none;
}

.image-slider2 .slider-wrapper .image-list::-webkit-scrollbar {
  display: none;
}

.image-slider2 .slider-wrapper .image-list .image-item {
  width: 325px;
  height: 400px;
  object-fit: cover;
}

.image-slider2 .container .slider-scrollbar {
  height: 24px;
  width: 100%;
  display: flex;
  align-items: center;
}

.image-slider2 .slider-scrollbar .scrollbar-track {
  background: #ccc;
  width: 100%;
  height: 2px;
  display: flex;
  align-items: center;
  border-radius: 4px;
  position: relative;
}

.image-slider2 .slider-scrollbar:hover .scrollbar-track {
  height: 4px;
}

.image-slider2 .slider-scrollbar .scrollbar-thumb {
  position: absolute;
  background: #000;
  top: 0;
  bottom: 0;
  width: 50%;
  height: 100%;
  cursor: grab;
  border-radius: inherit;
}

.image-slider2 .slider-scrollbar .scrollbar-thumb:active {
  cursor: grabbing;
  height: 8px;
  top: -2px;
}

.image-slider2 .slider-scrollbar .scrollbar-thumb::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: -10px;
  bottom: -10px;
}

/* Styles for mobile and tablets */

/* customer comments */
.customer-comments .wrapper {
  max-width: 1200px;
  margin: 50px auto;
  padding: 0 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.customer-comments .wrapper .box {
  background: #fff;
  width: calc(33% - 10px);
  padding: 25px;
  border-radius: 3px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
}
.customer-comments .wrapper .box i.quote {
  font-size: 20px;
  color: #17a2b8;
}
.customer-comments .wrapper .box .content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
}
.customer-comments .wrapper .box .info .name {
  font-weight: 600;
  font-size: 17px;
}
.customer-comments .wrapper .box .info .job {
  font-size: 16px;
  font-weight: 500;
  color: #17a2b8;
}
.customer-comments .wrapper .box .info .stars {
  margin-top: 2px;
}
.customer-comments .wrapper .box .info .stars i {
  color: #17a2b8;
}
.customer-comments .wrapper .box .content .image {
  height: 75px;
  width: 75px;
  padding: 3px;
  background: #17a2b8;
  border-radius: 50%;
}
.customer-comments .wrapper .box .content .image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #fff;
}
.customer-comments .wrapper .box:hover .content .image img {
  border-color: #fff;
}

/* footer  */

.footer-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 3.5rem;
  padding: 60px 60px 0;
  border-bottom: 1px solid #000;
  border-top: 1px solid #000;
}

.footer-col {
  margin-bottom: 20px;
}

.footer-col h1 {
  color: black;
  font-size: 1.2rem;
  font-weight: bold;
}

.footer-col .links {
  margin: 20px 0 40px 0;
}

.footer-col h2 {
  font-size: 1.1rem;
  margin-bottom: 10px;
}

.social-media-links i {
  color: #465b52;
  padding-right: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.social-media-links i:hover {
  transform: scale(1.2);
}

.footer-col .links li {
  list-style: none;
  margin-bottom: 10px;
  font-size: 0.9rem;
}

.footer-col .links li a {
  text-decoration: none;
  color: #000;
}

.footer-col .links li a:hover {
  color: #b0b0b0;
}

.footer-col p {
  margin: 20px 0;
  max-width: 300px;
}

.footer-col form {
  display: flex;
  gap: 5px;
}

.footer-col input {
  height: 40px;
  border-radius: 6px;
  background: none;
  width: 100%;
  outline: none;
  border: 1px solid #000;
  padding-left: 10px;
}

.footer-col form button {
  background: #cecccc;
  outline: none;
  border: none;
  padding: 10px 15px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
  transition: 0.2s ease;
}

.footer-col form button:hover {
  background: #fff;
  border: 1px solid #000;
}


.copyright {
  width: 100%;
  text-align: center;
}

.copyright p {
  margin: 10px;
}



.service-container {
  display: flex;

    flex-wrap: wrap;
    justify-content: center; /* Center-aligning the services */
    gap: 20px;
  

}

.service {
flex-wrap: wrap;
width: 350px;
align-items: center;
  margin: 10px;
  padding: 10px;
  border: 3px solid black;
  border-radius: 10px;
  transition: transform 0.3s ease;
}
.service:hover {
  transform: translateY(-5px);
}
 
.service a {
  text-decoration: none;
  color: #333;
}

.service img {
  width: 300px;
  height: 200px;
  object-fit: cover;
  border-radius: 5px;
  overflow: hidden;
  
}

.service h3 {
  margin-top: 10px;
  text-decoration: underline;
  align-items: center;
  justify-content: center;
}

.service p {
  margin-top: 5px;
  font-size: 16px;
  color: #666;
}
.s{
  font-size:100px ;
  margin: 10px;
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
  justify-content: center;
}
/* Media queries */

/* Max-width 1023px - Tablet and below */
/* image slider  */

.image-slider2 {
  text-align: center;
  width: 90%;
  margin: 50px auto;
}

.image-slider2 .container {
  width: 100%;
}

.image-slider2 .slider-wrapper {
  position: relative;
}

.image-slider2 .slider-wrapper .slide-button {
  position: absolute;
  top: 50%;
  outline: none;
  border: none;
  height: 50px;
  width: 50px;
  z-index: 5;
  color: #fff;
  display: flex;
  cursor: pointer;
  font-size: 2.2rem;
  background: #000;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transform: translateY(-50%);
}

.image-slider2 .slider-wrapper .slide-button:hover {
  background: #404040;
}

.image-slider2 .slider-wrapper .slide-button#prev-slide {
  left: -25px;
  display: none;
}

.image-slider2 .slider-wrapper .slide-button#next-slide {
  right: -25px;
}

.image-slider2 .slider-wrapper .image-list {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 18px;
  font-size: 0;
  list-style: none;
  margin-bottom: 30px;
  overflow-x: auto;
  scrollbar-width: none;
}

.image-slider2 .slider-wrapper .image-list::-webkit-scrollbar {
  display: none;
}

.image-slider2 .slider-wrapper .image-list .image-item {
  width: 325px;
  height: 400px;
  object-fit: cover;
}

.image-slider2 .container .slider-scrollbar {
  height: 24px;
  width: 100%;
  display: flex;
  align-items: center;
}

.image-slider2 .slider-scrollbar .scrollbar-track {
  background: #ccc;
  width: 100%;
  height: 2px;
  display: flex;
  align-items: center;
  border-radius: 4px;
  position: relative;
}

.image-slider2 .slider-scrollbar:hover .scrollbar-track {
  height: 4px;
}

.image-slider2 .slider-scrollbar .scrollbar-thumb {
  position: absolute;
  background: #000;
  top: 0;
  bottom: 0;
  width: 50%;
  height: 100%;
  cursor: grab;
  border-radius: inherit;
}

.image-slider2 .slider-scrollbar .scrollbar-thumb:active {
  cursor: grabbing;
  height: 8px;
  top: -2px;
}

.image-slider2 .slider-scrollbar .scrollbar-thumb::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: -10px;
  bottom: -10px;
}

/* Styles for mobile and tablets */
@media (max-width: 768px) {
  .image-slider2 .slider-wrapper .slide-button#prev-slide {
    left: 0;
  }

  .image-slider2 .slider-wrapper .slide-button#next-slide {
    right: 0;
  }
}

@media (max-width: 480px) {
  .image-slider2 .slider-wrapper .slide-button#prev-slide {
    left: 0;
  }

  .image-slider2 .slider-wrapper .slide-button#next-slide {
    right: 0;
  }
}
/* Hide images on tablets (768px to 1024px) */
@media (min-width: 768px) and (max-width: 1024px) {
  .image img {
    display: none;
  }
}



/* Max-width 900px - Mobile and below */
@media screen and (max-width: 900px) {
  header.show-mobile-menu::before {
    width: 100%;
    height: 100vh;
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7); /* Optional: To add a dark overlay */
    z-index: 1; /* Ensure it is above other content */
  }

  nav .menu-links {
    height: 100vh;
    max-width: 100%;
    width: 100%;
    background: #fff;
    position: fixed;
    left: -100%;
    top: 0;
    display: block;
    padding: 75px 40px 0;
    transition: left 0.2s ease;
    z-index: 2; /* Ensure it is above the overlay */
  }

  header.show-mobile-menu nav .menu-links {
    left: 0;
  }

  nav .menu-links li {
    margin-bottom: 30px;
  }

  nav .menu-links li a {
    color: #000;
    font-size: 1.1rem;
  }

  nav .menu-links .join-btn a {
    padding: 0;
  }

  nav .menu-links .join-btn a:hover {
    color: #1dbf73;
    background: none;
  }

  nav :is(#close-menu-btn, #hamburger-btn) {
    display: block;
  }
}


/* Max-width 768px - Mobile devices */
@media (max-width: 768px) {
  footer {
    width: 100%;
  }

  footer .footer-row {
    padding: 20px;
    gap: 2rem;
  }

  .footer-col {
    margin-bottom: 20px;
  }

  .footer-col form {
    display: block;
  }

  .footer-col form :where(input, button) {
    width: 100%;
  }

  .footer-col form button {
    margin: 10px 0 0 0;
  }
  
  /* Hide images on mobile devices */
  .image img {
    display: none;
  }
}

/* Max-width 1045px - Small laptops and below */
@media (max-width: 1045px) {
  .customer-comments .wrapper .box {
    width: 80%;
  }
}

/* Max-width 702px - Very small devices */
@media (max-width: 702px) {
  .customer-comments .wrapper .box {
    width: 80%;
  }
}
