<!DOCTYPE html>
<html>
  <%- include('../components/headTag.ejs') %>
  <body>
    <div class="login-header box-shadow">
      <div
        class="container-fluid d-flex justify-content-between align-items-center"
      >
        <div class="brand-logo">
          <a href="/">
            <img src="/img/logo-black.png" alt="Logo" />
          </a>
        </div>
        <div class="login-menu">
          <ul>
            <li><a href="/signIn">Sign in</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div
      class="login-wrap d-flex align-items-center flex-wrap justify-content-center"
    >
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-6">
            <img src="/vendors/images/forgot-password.png" alt="" />
          </div>
          <div class="col-md-6">
            <div class="login-box bg-white box-shadow border-radius-10">
              <div class="login-title">
                <h2 class="text-center text-primary">Reset Password</h2>
              </div>
              <h6 class="mb-20">Enter your new password, confirm and submit</h6>
              <form id="reset-password-form">
                <div class="input-group custom">
                  <input
                    type="password"
                    class="form-control form-control-lg"
                    placeholder="New Password"
                    id="new-password"
                  />
                  <div class="input-group-append custom">
                    <span class="input-group-text"
                      ><i class="dw dw-padlock1"></i
                    ></span>
                  </div>
                </div>
                <div class="input-group custom">
                  <input
                    type="password"
                    class="form-control form-control-lg"
                    placeholder="Confirm New Password"
                    id="confirm-new-password"
                  />
                  <div class="input-group-append custom">
                    <span class="input-group-text"
                      ><i class="dw dw-padlock1"></i
                    ></span>
                  </div>
                </div>
                <div class="row align-items-center">
                  <div class="col-5">
                    <div class="input-group mb-0">
                      <button
                        class="btn btn-primary btn-lg btn-block"
                        type="submit"
                      >
                        Submit
                      </button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- js -->
    <script src="/vendors/scripts/core.js"></script>
    <script src="/vendors/scripts/script.min.js"></script>
    <script src="/vendors/scripts/process.js"></script>
    <script src="/vendors/scripts/layout-settings.js"></script>
    <script type="module">
      import showMsg from "/js/toastify.js";
      document
        .getElementById("reset-password-form")
        .addEventListener("submit", function (event) {
          event.preventDefault();

          const newPassword = document.getElementById("new-password").value;
          const confirmNewPassword = document.getElementById(
            "confirm-new-password"
          ).value;

          if (newPassword !== confirmNewPassword) {
            return showMsg("Passwords do not match", "orange");
          }

          const url = new URL(window.location.href);
          const id = url.pathname.split('/').pop();

          fetch(`/changepassword/${id}`, {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify({ newPassword }),
          })
            .then((response) => response.json())
            .then((data) => {
              if (data.errMsg) return showMsg(data.errMsg, "red");
              else location.assign("/signin");
            })
            .catch((error) => {
              showMsg("Error: " + error, "red");
            });
        });
    </script>
  </body>
</html>
