<!DOCTYPE html>
<html>
  <%- include('../components/headTag.ejs') %>
  <body>
    <div class="login-header box-shadow">
      <div
        class="container-fluid d-flex justify-content-between align-items-center"
      >
        <div class="brand-logo">
          <a href="/">
            <img src="/img/logo-black.png" alt="Logo" />
          </a>
        </div>
        <div class="login-menu">
          <ul>
            <li><a href="/signIn">Sign in</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div
      class="login-wrap d-flex align-items-center flex-wrap justify-content-center"
    >
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-6">
            <img src="vendors/images/forgot-password.png" alt="" />
          </div>
          <div class="col-md-6">
            <div class="login-box bg-white box-shadow border-radius-10">
              <div class="login-title">
                <h2 class="text-center text-primary">Forgot Password</h2>
              </div>
              <h6 class="mb-20">
                Enter your email address to reset your password
              </h6>
              <form id="forgot-password-form">
                <div class="input-group custom">
                  <input
                    type="text"
                    id="email"
                    class="form-control form-control-lg"
                    placeholder="Email"
                  />
                  <div class="input-group-append custom">
                    <span class="input-group-text"
                      ><i class="fa fa-envelope-o" aria-hidden="true"></i
                    ></span>
                  </div>
                </div>
                <div class="row align-items-center">
                  <div class="col-5">
                    <div class="input-group mb-0">
                      <input
                        class="btn btn-primary btn-lg btn-block"
                        type="submit"
                        value="Submit"
                        id="submitBtn"
                      />
                    </div>
                  </div>
                  <div class="col-2">
                    <div
                      class="font-16 weight-600 text-center"
                      data-color="#707373"
                    >
                      OR
                    </div>
                  </div>
                  <div class="col-5">
                    <div class="input-group mb-0">
                      <a
                        class="btn btn-outline-primary btn-lg btn-block"
                        href="/signin"
                        >Login</a
                      >
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- js -->
    <script src="/vendors/scripts/core.js"></script>
    <script src="/vendors/scripts/script.min.js"></script>
    <script src="/vendors/scripts/process.js"></script>
    <script src="/vendors/scripts/layout-settings.js"></script>
    <script type="module">
      import showMsg from "/js/toastify.js";

      const submitBtn = document.getElementById("submitBtn");

      document
        .getElementById("forgot-password-form")
        .addEventListener("submit", function (event) {
          event.preventDefault();

          submitBtn.setAttribute("disabled", "true");

          const email = document.getElementById("email").value;

          fetch("/forgetpassword", {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify({ email }),
          })
            .then((response) => response.json())
            .then((data) => {
              if (data.errMsg) showMsg(data.errMsg, "red");
              else showMsg(data.msg, "green");

              submitBtn.removeAttribute("disabled");
            })
            .catch((error) => {
              showMsg("Error: " + error, "red");
            });
        });
    </script>
  </body>
</html>
